{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h2>Change Password</h2>
    <h4>Forgot password? Talk to Exec to reset it and then change it here.</h4>
{% endblock %}

{% block content %}
<form method="post">
        {% csrf_token %}
        {{ form }}
        <br />
        {% if request.user.is_authenticated %}
        <ul class="actions special">
            <li><input type="submit" value="Save Changes"/></li>
        </ul>
        {% else %}
        <h3>You must be logged in to change your password</h3>
        {% endif %}
</form>
{% endblock %}