{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h2>Brother Signup</h2>
{% endblock %}

{% block content %}
    {% if signupform.errors or tokenform.errors %}
        {% for field in signupform %}
            {% for error in field.errors %}
                <div class="error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for field in tokenform %}
            {% for error in field.errors %}
                <div class="error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in signupform.non_field_errors %}
            <div class="error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% for error in tokenform.non_field_errors %}
            <div class="error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        <div class="row gtr-50 gtr-uniform">
            {% for field in signupform %}
            <div class="col-12">
                <p>{{ field }}</p>
            </div>
            {% endfor %}
            {% for field in tokenform %}
            <div class = "col-12">
                <p>{{ field }}</p>
            </div>
            {% endfor %}
            {% for field in profileform %}
            <div class="col-12">
                <h4>{{ field.label }}</h4>
                <p>{{ field }}</p>
            </div>
            {% endfor %}
            <div class="col-12">
                <ul class="actions special">
                    <li><input type="submit" value="Submit" /></li>
                    <li><a href="{{ url }}" class="button alt">Clear</a></li>
                </ul>
            </div>    
        </div>
    </form>
{% endblock %}