{% extends 'base/base_generic.html' %}
{% load static %}

{% block banner %} {% endblock %}

{% block main %}
	<section id="main" class="container large">
        <header class="major">
            <h2>AKPsi ZL Brother Portal</h2>
        </header>

		<div class="row">
			{% if request.user.profile.isbrother %}
			{% if request.user.profile.isexec %}
			<div class="col-6 col-12-narrower">
			{% else %}
			<div class="col-12">
			{% endif %}
				<section class="box special">
					<span class="icon major fa-users accent2"></span>
					<h3>Attendance</h3>
					<ul class="actions special">
						<li><a href="{% url 'attendance:userattendance' %}" class="button alt">My Attendance</a></li>
                    </ul>
				</section>
            </div>
            {% endif %}
        
            {% if request.user.profile.isexec %}
            <div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="icon major fa-lock accent1"></span>
					<h3>Exec</h3>
					<ul class="actions special">
						<li><a href="{% url 'attendance:brothercredits' %}" class="button alt">Credits</a></li>
					</ul>
                </section>
            </div>
            {% endif %}
		</div>
	</section>


{% endblock %}