{% extends 'base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h2>{{ event.name }}</h2>
    <h3>{{ event.date }}</h3>
{% endblock %}

{% block content %}
    <h3>Attendance: {{ signincount }}</h3>
    <!-- <ol style="text-align:left;">
    {% for attendee in attendees %}
        <li>{{ attendee.user.first_name }} {{ attendee.user.last_name }}</li>
    {% endfor %}
    </ol> -->

    <div class="table-wrapper" style="text-align:left;">
        <table>
            <thead>
                <tr>
                    <th style="width: 15%">First Name</th>
                    <th style="width: 15%">Last Name</th>
                    <th style="width: 60%">Signin Time</th>
                </tr>
            </thead>
            <tbody>
                {% for signin in signins %}
                <tr>
                    <td>{{ signin.user.first_name }}</td>
                    <td>{{ signin.user.last_name }}</td>
                    <td>{{ signin.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}