{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h2>Bid Display</h2>
{% endblock %}

{% block content %}
    {% if bids|length < 1 %}
    <h3>There are no bids</h3>
    {% else %}
    <h3>Rushees that got a bid:</h3> 
    <h4>Number of Bids: {{ bids|length }}</h4>

    <div class="table-wrapper" style="text-align:left;">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Cell Phone</th>
                    <th>No Votes</th>
                    <th>Total Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in bids %}
                <tr>
                    <td>{{ bid.0.first_name }}</td>
                    <td>{{ bid.0.last_name }}</td>
                    <td>{{ bid.0.application.address }}</td>
                    <td>{{ bid.0.email }}</td>
                    <td>{{ bid.0.application.cellphone }}</td>
                    <td>{{ bid.1}}</td>
                    <td>{{ bid.2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>
    <h3>Rushees that didn't get a bid ({{ nobids|length }}):</h3>
    {% for nobid in nobids %}
    <p>{{ nobid.0.first_name }} {{ nobid.0.last_name}}: {{ nobid.1 }} out of {{ nobid.2 }}</p>
    {% endfor %}
    {% endif %}
{% endblock %}