{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main %}
    <section id="main" class="container {{ containersize|default:"small" }}">
        <header>
            <h2>{{ application.rushee.get_full_name }} ({{ application.rushee.username }}) </h2>
            <h4># {{ page.number }} of {{ page.paginator.num_pages }}</h4>
        </header>
        <div class="box special" style="text-align: left;">
            <h3>About {{ application.rushee.get_short_name }}</h3>
            <p>{{ application.aboutme }}</p>
            <hr/>
        
            <h3>{{ application.get_essaytopic_display }}</h3>
            <p>{{ application.essay }}</p>
            <hr/>
        
            <h3><strong>Positive Mentions:</strong> {{ positivementions|length }}</h3>
            {% for mention in positivementions %}
                <p><strong>Day {{ mention.day }}:</strong> {{ mention.comment }}</p>
            {% endfor %}
            <hr/>

            <h3><strong>Negative Mentions:</strong> {{ negativementions|length }}</h3>
            {% for mention in negativementions %}
                <p><strong>Day {{ mention.day }}:</strong> {{ mention.comment }}</p>
            {% endfor %}
            <hr/>
        
            <div class="col-12">
                <ul class="actions special">
                    <li><a href="{% url 'rush:mention' %}?rushee={{ application.rushee.id }}" class="button">Mention</a></li>
                </ul>
                <ul class="actions special">
                    {% if page.has_previous %}
                        <li><a href="/rush/prevote/{{ page.previous_page_number }}" class="button alt">Previous</a></li>
                    {% endif %}
                    {% if page.has_next %}
                        <li><a href="/rush/prevote/{{ page.next_page_number }}" class="button alt">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
