{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
<h2>Rushee Signin</h2>
<h4>If this is your first night, please use the link below to sign up.</h4>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form action="{% url 'rush:rusheesignin' %}" method="post">
        {% csrf_token %}
        <div class="row gtr-50 gtr-uniform">
            {% for field in form %}
            <div class="col-12">
                <h4>{{ field.label }}</h4>
                <p>{{ field }}</p>
            </div>
            {% endfor %}
            <div class="col-12">
                <ul class="actions special">
                    <li><input type="submit" value="Submit" /></li>
                    <li><input class="button alt" type="reset" value="Clear"/></li>
                </ul>
            </div>    
        </div>
    </form>
{% endblock %}