{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
{% endblock %}

{% block content %}
<form action="{{ parentview }}" method="get">
    <div class="row gtr-50 gtr-uniform">
        {% for field in form %}
        <div class="col-12">
            <h4>{{ field.label }}</h4>
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <div class="col-12">
            <ul class="actions special">
                <li><input type="submit" value="Submit" /></li>
                <li><input class="button alt" type="reset" value="Clear"/></li>
            </ul>
        </div>    
    </div>
</form>
{% endblock %}