{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h3>Brother Credits</h3>
{% endblock %}


{% block content %}
    {% if notcredits %}
    <h3>Brothers without all credits:</h3>
    <div class="table-wrapper" style="text-align:left;">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    {% for evg in eventgroups %}
                        <th style="text-align:right;">{{evg}} ({{evg.needed_credits}})</th>
                    {% endfor %}
                    <th style="text-align:right;">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for bro, credits in notcredits.items %}
                <tr>
                    <td>{{ bro.first_name }}</td>
                    <td>{{ bro.last_name }}</td>
                    {% for evgcredits in credits.values %}
                        <td style="text-align:right;">{{ evgcredits }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <h3>Brothers with all credits:</h3>
    <div class="table-wrapper" style="text-align:left;">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        {% for evg in eventgroups %}
                            <th style="text-align:right;">{{evg}} ({{evg.needed_credits}})</th>
                        {% endfor %}
                        <th style="text-align:right;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bro, credits in hascredits.items %}
                    <tr>
                        <td>{{ bro.first_name }}</td>
                        <td>{{ bro.last_name }}</td>
                        {% for evgcredits in credits.values %}
                            <td style="text-align:right;">{{ evgcredits }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <h3>All brothers have their credits</h3>
    {% endif %}
    <ul class="actions special">
        <li><a href="{% url 'attendance:creditscsv' %}" class="button">Download Credits</a></li>
    </ul>
{% endblock %}