{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h2>{{ event.name }}</h2>
    <h3>{{ event.date }}</h3>
{% endblock %}

{% block content %}
    <ul class="actions special">
        <li><a href="{% url 'attendance:events' %}" class="button alt">Event List</a></li>
        <li><a href="{% url 'attendance:signinqr' eventid=event.id inorout='sign-in' %}" class="button">Sign-in QR</a></li>
        <li><a href="{% url 'attendance:signinqr' eventid=event.id inorout='sign-out' %}" class="button">Sign-out QR</a></li>
    </ul>

    {% if signincount < 1 %}
    <h3>There are no attendees</h3>>
    {% else %}
    <h3>Attendance: {{ signins.count }}</h3>

    <div class="table-wrapper" style="text-align:left;">
        <table>
            <thead>
                <tr>
                    <th style="width: 15%">First Name</th>
                    <th style="width: 15%">Last Name</th>
                    <th style="width: 35%">Sign-in Time</th>
                    <th style="width: 35%">Sign-out Time</th>
                </tr>
            </thead>
            <tbody>
                {% for signin in signins %}
                <tr>
                    <td>{{ signin.user.first_name }}</td>
                    <td>{{ signin.user.last_name }}</td>
                    <td>{{ signin.signintime }}</td>
                    <td>{{ signin.signouttime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}