{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h3>{{ inorout|title }} for {{ event.name }}</h3>
    <a href="{% url 'attendance:qrcodeimage' eventid=event.id inorout=inorout %}"><image src="{% url 'attendance:qrcodeimage' eventid=event.id inorout=inorout %}" width="100%" style="max-width:400px;"/></a>
{% endblock %}

{% block content %}
    <h2>Attendance: {{ attendancecount }}</h2>
    <h3>Sign-ins: {{ signincount }} - Sign-outs: {{ signoutcount }}</h3>
    <h3 style="text-align:left;">Most Recent: </h3>
    <ol style="text-align:left">
    {% for signin in recent %}
        <li>{{ signin.user.get_full_name }}</li>
    {% endfor %}
    </ol>
{% endblock %}

