{% extends 'base/base_generic.html' %}

{% block banner %} {% endblock %}

{% block main_headertext %}
    <h2>{{ user.first_name }} {{ user.last_name }} </h2>
    <h4>Senior Status: {% if user.profile.issenior %} Yes {% else %} No {% endif %}</h4>
    <h4>LOA Status: {% if user.profile.isloa %} Yes {% else %} No {% endif %}</h4>
    {% if user == request.user %}
    <ul class="actions special">
        <li><a href="{% url 'password_change' %}" class="button alt">Change Password</a></li>
        <li><a href="{% url 'edit_profile' %}" class="button alt">Edit Profile</a></li>
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Event Attendance</h2>
    {% for evg in evgsignins %}
        <h3>{{ evg.eventgroup.name|title }}</h3>
        <p>
            Credits Needed: {{ evg.eventgroup.needed_credits }} {% if user.profile.issenior %} <strong> {% endif %} (Seniors: {{ evg.eventgroup.senior_credits }}) </strong>
            <br>Credits Earned: {{ evg.count }}
        </p>
        
        {% for signin in evg.signins %}
            <li>{{ signin.event }} ({{ signin.event.short_date }}) ({{ signin.event.credits }})</li>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock%}